* {
    font-family: monospace;
    text-align: center;
}

:root {
    --bg-yellow: #fffff0;
    --red: #941313;
    --bg-body: #a0421c38;
    --transition: all 0.3s linear;
    --shadow: 4px 10px 10px rgba(0, 0, 0, 0.3);
}

body {
    background-color: var(--bg-body);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container h1 {
    font-size: 50px;
    text-transform: uppercase;

    margin: 0;
}

.container a {
    color: var(--red);

}
.container p {
    max-width: 700px;

    font-size: 15px;
    letter-spacing: 2px;
    line-height: 30px;
}

.pages {

    background-color: var(--red);

    border-radius: 20px 20px 0 0;
    border: solid 1px #000;

    max-width: 700px;
    width: 400px;
}

.pages a{
    font-size: 18px;
    color: var(--bg-yellow);

    text-decoration: none;
}

.pages li {
    color: var(--bg-yellow);

    font-size: 18px;
    margin-bottom: 10px;
    text-align: start;
}