* {
    font-family: monospace;
    text-align: center;
}

:root {
    --bg-yellow: #fffff0;
    --red: #941313;
    --bg-body: #a0421c38;
    --transition: all 0.3s linear;
    --shadow: 4px 10px 10px rgba(0, 0, 0, 0.3);
}

body {
    background-color: var(--bg-yellow);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 90vh;
}

.box {
    background-color: var(--red);
    color: #fff;
    
    display:flex;
    flex-direction: column;

    padding: 20px;

    border-radius: 20px;

    width: 400px;
}

button {
    background-color: var(--bg-yellow);
    
    border: none;
    border-radius: 10px;

    margin-top: 30px;

    padding: 10px 10px;
    width: 100px;
}

h1 {
    color: black;
    margin-bottom: 40px;

    font-size: 30px;
    text-transform: uppercase;
}

h2 {
    font-size: 50px;

    margin: 0;
}