* {
    font-family: monospace;
    margin: 0;
    text-align: center;
}

body {
    background-color: rgb(255, 255, 240);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal-center {
    justify-content: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
}

.line {
    background-color: #941313;
    width: 70px;
    height: 5px;

    margin-bottom: 30px;
}

.content {
    max-width: 400px;

    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);

    margin: 0 20px;
    padding: 20px;

}

.img-content {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;

    box-shadow: 10px -5px #941313;

}

#person-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#name {
    font-size: 20px;

    margin: 10px 0 5px 0;
}

#job {
    text-transform: uppercase;
    color: #941313;

    margin-bottom: 5px;
}

.buttons {
    margin-top: 10px;
}

button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

.prev-btn, .next-btn {
    color: #941313;
    font-size: 20px;
    width: 50px;
}

.ramdom-btn {
    border: #941313 solid 1px;
    border-radius: 5px;

    margin-top: 10px;
}